*{
    margin : 0;
    padding : 0;
}
body {
    background-color: #548687;
    text-align: center;
}
.container{
    height : 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.game {
    height: 60vmin;
    width : 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap : 2vmin;
}
.box{
    height : 18vmin;
    width : 18vmin;
    border-radius: 1rem;
    border : none;
    box-shadow: 0 0 1rem rgba(111,224,189,0.9);
    font-size : 8vmin;
    color : #45e2aa;
}
#rest-btn{
    padding : 1rem;
    font-size : 1.5rem;
    background-color: #191913;
    color : #fff;
    border-radius: 1rem;
    border : none;
    transition: box-shadow 0.5s ease-in-out;
}
#rest-btn:hover{
    box-shadow:  0 0 10px rgba(111,224,189,0.9),
                0 0  40px rgba(111,224,189,0.9),
                 0 0 70px rgba(111,224,189,0.9),
                0 0 100px rgba(111,224,189,0.9);
}
#new-btn{
    padding : 1rem;
    font-size : 1.5rem;
    background-color: #191913;
    color : #fff;
    border-radius: 1rem;
    border : none;
}
#msg {
    color : #ffffc7;
    font-size : 4vmin;
}
.msg-container{
    height :20vmin;
}
.hide{
    display:  none;
}